
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body, html {
  font: normal 16px sans-serif;
  height: 100%;
  margin: 0;
  color: #000;
}

body, .swatches {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAANklEQVRYhe3PsQ0AAAgCMP+/jZ/0CAaXkrCSMkm2aZsBAAAAAAAAeAe0A+0BAAAAAAAAgHfAAU5evtNhO/lnAAAAAElFTkSuQmCC);
}

body.dark {
  color: #fff;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.everything {
  width: 100%;
  min-height: 100%;
  overflow: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  max-width: 700px;
  width: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.main, .swatchbox {
  grid-column: 1/-1;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 1em;
}

.sliders {
  display: grid;
  grid-template-columns: auto 1fr 3em;
  align-items: center;
  grid-gap: .5em;
  grid-auto-rows: auto;
}

.conversions {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto) 1fr auto;
  grid-gap: .5em;
}

.copy {
  position: absolute;
  right: -1em;
  font-size: 2em;
}

input[type="text"] {
  display: block;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  border: 0 none;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.5) inset;
  padding: .5em;
}

input.tick {
  display: block;
  font-size: .8em;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,.5) inset;
}

input.big {
  font-size: 40px;
  margin: 0;
}

.save {
  font: inherit;
  background: #eee;
  border-radius: 8px;
  line-height: 1em;
  border: 0;
  padding: 1em;
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.5) inset;
  box-shadow: 0 -1px 2px rgba(0,0,0,.5) inset;
  cursor: pointer;
  display: block;
  grid-row: -1;
}

.save:active {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.5) inset;
}

.sliders label {
  background: #fff;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.7em;
  text-align: center;
  border-radius: 1.5em;
  background: #000;
  color: #fff;
}
.dark .sliders label {
  background: #fff;
  color: #000;
}

input[type="range"] {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.swatches {
  padding: 0;
  border: .5em solid #000;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}

.swatch {
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  margin: 8px;
  position: relative;
  cursor: pointer;
}

.swatch .remove {
  display: none;
  position: absolute;
  top: -6px;
  right: -6px;
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  line-height: 13px;
}

.swatch:hover .remove {
  display: block;
}

.dark .swatches {
  border-color: #fff;
}


@media (max-width: 800px) {
  input[type=text] {
    font-size: 16px;
  }
  input.big {
    font-size: 20px;
  }
  article {
    grid-template-columns: 1fr;
  }
}
